@import './base.css';

:root {
	--color-white: #fff;
	--color-green-1: #61892f;
	--color-green-2: #86c232;
	--color-black-1: #000000;
	--color-black-2: #222629;
	--color-gray-1: #6b6e70;
	--color-gray-2: #6b6e704b;
	--color-yellow-1: #ffd700;

	--color-basswin: #0e2c2e;

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-semibold: 600;
	--weight-bold: 700;
	--weight-black: 900;

	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;
}

/* REUSED STYLES */
.stars {
	display: flex;
	gap: 5px;
}
.stars__star {
	width: 24px;
	height: 24px;
}
.casino-link {
	padding: 15px 50px;
	background-color: var(--color-green-2);
	border-radius: 10px;
	color: var(--color-white);
	font-weight: var(--weight-semibold);
	text-transform: uppercase;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	text-wrap: nowrap;
	overflow: hidden;
	transition: box-shadow 200ms linear;
}
.casino-link:after {
	content: '';
	display: block;
	width: 30px;
	height: 200px;
	margin-left: 60px;
	background: #fff;
	opacity: 0.5;
	position: absolute;
	left: -40px;
	top: -100px;
	z-index: 1;
	transform: rotate(45deg);
	transition: all 0.1s;
	animation: slideme 3s ease-in-out 0.05s infinite;
}
@keyframes slideme {
	0% {
		left: -30px;
		margin-left: 0px;
	}
	30% {
		left: 110%;
		margin-left: 80px;
	}
	100% {
		left: 110%;
		margin-left: 80px;
	}
}
.casino-link:hover {
	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-green-1);
}
.casino-link:active {
	transform: scale(0.9);
}
.casino-link.casino-link--best {
	background-color: var(--color-yellow-1);
}
.casino-link.casino-link--best:hover {
	box-shadow: 0 0 0 2px white, 0 0 0 4px var(--color-yellow-1);
}

/* HEADER */
.header {
	top: 0;
	position: absolute;
	width: 100%;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
}
.header__container {
	width: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.header__button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	z-index: 10;
}
.header__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}
.header__button-line {
	width: 30px;
	height: 4px;
	background-color: var(--color-green-2);
	transition: all 200ms ease;
}
.header__button-line--1 {
}
.header__button-line--2 {
}
.header__button-line--3 {
}
.header__button-text {
	text-transform: uppercase;
	font-weight: var(--weight-semibold);
	color: var(--color-white);
	transition: all 200ms ease;
}
.header__logo {
	width: 300px;
	filter: drop-shadow(0px 0px 5px var(--color-green-1));
}
.header__special-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}
.header__special-button {
	filter: brightness(0) saturate(100%) invert(61%) sepia(94%) saturate(347%)
		hue-rotate(43deg) brightness(96%) contrast(85%);
	width: 24px;
	height: 24px;
	cursor: pointer;
}
.header__nav {
	position: absolute;
	background-color: var(--color-black-1);
	border: 1px solid var(--color-gray-1);
	transform-origin: top;
	padding: 60px 20px 0 10px;
	left: 30px;
	top: 25px;
	border-radius: 10px;
	transition: all 200ms ease-in-out;
	transform: scaleY(0);
	z-index: 2;
}
.header__nav-link {
	color: var(--color-white);
	font-size: var(--fontSize-16);
	font-weight: var(--weight-bold);
	margin-bottom: 20px;
	text-align: left;
	text-transform: uppercase;
}
.header__button.active .header__button-line {
	background-color: var(--color-white);
}
.header__button.active .header__button-line--1 {
	transform-origin: left bottom;
	transform: rotate(45deg);
}
.header__button.active .header__button-line--2 {
	transform-origin: left center;
	transform: scale(0);
}
.header__button.active .header__button-line--3 {
	transform-origin: left top;
	transform: rotate(-45deg);
}
.header__button.active ~ .header__button-text {
	transform-origin: left center;
	transform: scale(0);
}
.header__nav.active {
	transform: scale(1);
}

/* MAIN */
.main {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--color-black-1);
	padding-top: 200px;
	padding-bottom: 40px;
	position: relative;
	overflow-x: hidden;
}
#miCanvas {
	position: absolute;
	background-color: var(--color-black-1);
	z-index: 1;
	top: 0px;
	left: 0px;
	opacity: 0.6;
}
/* MAIN -> BEST-GAMES */
.best-games {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
	z-index: 10;
	padding: 0 20px;
}
.best-games__description {
	width: 100%;
	margin-bottom: 20px;
}
.best-games__site-name {
	width: 100%;
	text-align: center;
	color: var(--color-green-2);
	font-weight: var(--weight-semibold);
	margin-bottom: 32px;
	font-size: var(--fontSize-20);
}
.best-games__title {
	width: 100%;
	text-align: center;
	font-size: var(--fontSize-32);
	color: var(--color-white);
	margin-bottom: 20px;
}
.best-games__text {
	width: 100%;
	text-align: center;
	line-height: 1.5;
	color: var(--color-gray-1);
	margin-bottom: 16px;
}
.best-games__disclaimer {
	color: var(--color-white);
	text-decoration: underline solid red;
	width: max-content;
	max-width: 100%;
}
.best-games__games {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
}
.best-games__game {
	width: calc((100% - 40px) / 3);
	background-color: var(--color-white);
	border-radius: 10px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
	border: 2px solid var(--color-gray-1);
}
.best-games__game.best-games__game--best {
	overflow: hidden;
	position: relative;
	border: 4px solid var(--color-yellow-1);
}
.best-games__game.best-games__game--best::after {
	display: block;
	content: 'best offer';
	position: absolute;
	top: 20px;
	left: -75px;
	transform: rotate(-45deg);
	background-color: var(--color-yellow-1);
	padding: 15px 80px;
	color: var(--color-black-2);
	font-weight: var(--weight-bold);
	box-shadow: 0px 0px 6px 2px var(--color-gray-2);
	font-size: var(--fontSize-14);
	text-transform: uppercase;
}
.best-games__game-logo {
	width: 150px;
	height: 100px;
	object-fit: contain;
	border-radius: 10px;
	padding: 5px;
}
.best-games__advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.best-games__advantage {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.best-games__advantage-icon {
	width: 20px;
	height: 20px;
}
.best-games__advantage-text {
	line-height: 1.3;
	color: var(--color-black-2);
	font-weight: var(--weight-semibold);
	font-size: 14px;
}
/* MAIN -> GAMES */
.games {
	width: min(1500px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 10;
	margin-bottom: 80px;
	padding: 0 20px;
}
.games__description {
	width: 100%;
	margin-bottom: 20px;
}
.games__title {
	width: 100%;
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.games__games {
	width: 100%;
}
.games__head {
	width: 100%;
	background-color: var(--color-green-1);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 0.7fr;
	padding: 20px;
	border-radius: 10px 10px 0 0;
	gap: 10px;
}
.games__head-item {
	width: 100%;
	display: flex;
	font-size: var(--fontSize-20);
	color: var(--color-white);
}
.games__game {
	width: 100%;
	background-color: var(--color-white);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 0.7fr;
	padding: 20px 10px;
	gap: 10px;
	border-top: 1px solid var(--color-gray-2);
}
.games__game:last-of-type {
	border-radius: 0 0 10px 10px;
}
.games__game-column {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}
.games__game-img {
	height: 150px;
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	object-fit: contain;
}
.games__game-bonus {
	text-align: center;
	font-size: var(--fontSize-16);
	line-height: 1.5;
	font-weight: var(--weight-regular);
	color: var(--color-gray-1);
}
.games__game-main-bonus {
	font-size: var(--fontSize-20);
	color: var(--color-black-2);
}
.games__game-rating {
}
.games__game-rating-text {
	width: 100%;
	text-align: center;
	color: var(--color-yellow-1);
}
.games__game-title {
	font-size: var(--fontSize-20);
	margin-bottom: 12px;
	color: var(--color-black-2);
}
.games__game-text {
	font-size: var(--fontSize-14);
	line-height: 1.3;
	color: var(--color-gray-1);
}

/* MAIN -> FAST-PAYMENTS */
.fast-payments {
	width: 100%;
	padding: 40px 20px;
	background-color: var(--color-gray-2);
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
}
.fast-payments__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.fast-payments__title {
	width: 100%;
	text-align: center;
	font-size: var(--fontSize-32);
	color: var(--color-green-2);
}
.fast-payments__payments {
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
}
.fast-payments__payment {
	height: 100px;
}
.fast-payments__text {
	color: var(--color-white);
}
/* MAIN -> ABOUT-US */
.about-us {
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
	margin-bottom: 40px;
}
.about-us__container {
	width: min(1200px, 100%);
	display: flex;
	align-items: center;
	gap: 20px;
}
.about-us__info {
}
.about-us__title {
	color: var(--color-green-2);
	margin-bottom: 16px;
	font-size: var(--fontSize-32);
}
.about-us__text {
	color: var(--color-white);
	margin-bottom: 16px;
}
.about-us__achievements {
	padding: 20px;
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	background-color: var(--color-gray-2);
	border-radius: 10px;
}
.about-us__achievement {
	width: 100%;
}
.about-us__achievement-title {
	color: var(--color-green-2);
	width: 100%;
	text-wrap: nowrap;
	text-align: center;
}
.about-us__achievement-text {
	color: var(--color-green-2);
	width: 100%;
	text-wrap: nowrap;
	text-align: center;
}
/* MAIN -> OUR-ADVANTAGES */
.our-advantages {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	margin-bottom: 40px;
	z-index: 10;
}
.our-advantages__title {
	color: var(--color-green-2);
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
	font-size: var(--fontSize-32);
}
.our-advantages__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.our-advantages__row {
	display: flex;
	gap: 20px;
}
.our-advantages__advantage {
	background-color: var(--color-gray-2);
	padding: 20px;
	border-radius: 10px;
	width: 100%;
}
.our-advantages__advantage-title {
	color: var(--color-green-2);
	font-size: var(--fontSize-20);
	margin-bottom: 14px;
}
.our-advantages__advantage-text {
	color: var(--color-white);
}
/* MAIN -> FAQ */
.faq {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 40px 20px;
	z-index: 10;
}
.faq__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__title {
	color: var(--color-white);
	font-size: var(--fontSize-32);
}
.faq__questions {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.faq__question {
	padding: 20px;
	height: auto;
	border-radius: 10px;
	max-height: 64px;
	overflow: hidden;
	transition: max-height 200ms ease-in-out;
}
.faq__question-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	gap: 5px;
}
.faq__question-title {
	color: var(--color-white);
	font-size: var(--fontSize-24);
	font-weight: var(--weight-regular);
}
.faq__question-btn {
	color: var(--color-white);
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: all 200ms ease;
	transform: rotate(45deg);
}
.faq__question-body {
	padding-left: 40px;
	padding-right: 20px;
}
.faq__question-text {
	color: var(--color-white);
}

/* FOOTER */
.footer {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: var(--color-black-1); */
	padding: 20px;
	position: relative;
	z-index: 10;
}
.footer__container {
	width: min(1200px, 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
.footer__companies {
	display: flex;
	gap: 20px;
}
.footer__company {
	height: 24px;
}
.footer__policy-links {
	display: flex;
	gap: 20px;
}
.footer__policy-link {
	text-wrap: nowrap;
	color: var(--color-gray-1);
	position: relative;
}
.footer__policy-link::after {
	position: absolute;
	content: '';
	width: 2px;
	top: 0;
	right: -11px;
	height: 100%;
	background-color: var(--color-gray-1);
}
.footer__policy-link:last-of-type::after {
	display: none;
}
.footer__contact  {
	color: var(--color-white);
}
.footer__copyright {
	color: var(--color-white);
}

/* MEDIA */
@media (max-width: 1200px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> OUR-ADVANTAGES */
	/* MAIN -> FAQ */
	/* FOOTER */
}
@media (max-width: 960px) {
	/* REUSED STYLES */
	/* HEADER */
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 80%;
	}
	.best-games__games {
		width: 80%;
	}
	.best-games__game {
		width: calc((100% - 20px) / 2);
	}
	/* MAIN -> GAMES */
	.games__description {
		width: 80%;
	}
	.games__head {
		display: none;
	}
	.games__games {
		width: 80%;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
	.games__game {
		display: flex;
		flex-direction: column;
		align-items: center;
		border-bottom: 0px solid transparent;
		border-radius: 10px;
		padding: 20px;
		gap: 20px;
	}
	.games__game-column {
		align-items: center;
	}
	.games__game-img {
		width: 200px;
		height: 120px;
	}
	.games__game-title {
		width: 100%;
		margin-bottom: 5px;
	}
	.games__game:last-of-type {
		border-radius: 10px;
	}
	.games__game-column:nth-child(3) {
		order: -1;
	}
	.games__game-column:nth-child(1) {
		order: -2;
	}
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> OUR-ADVANTAGES */
	.our-advantages__container {
		gap: 10px;
	}
	.our-advantages__row {
		gap: 10px;
	}
	.our-advantages__advantage {
		padding: 15px;
	}
	.our-advantages__row:nth-of-type(3) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	/* MAIN -> FAQ */
	/* FOOTER */
}
@media (max-width: 720px) {
	/* REUSED STYLES */
	/* HEADER */
	.header {
		padding: 20px;
	}
	.header__logo {
		width: 240px;
	}
	.header__button-container {
		gap: 12px;
	}
	.header__nav {
		top: 10px;
		left: 10px;
	}
	/* MAIN */
	.main {
		padding-top: 160px;
	}
	/* MAIN -> BEST-GAMES */
	.best-games__description {
		width: 100%;
	}
	.best-games__site-name {
		font-size: var(--fontSize-16);
		margin-bottom: 16px;
	}
	.best-games__title {
		font-size: var(--fontSize-24);
		margin-bottom: 16px;
	}
	.best-games__text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	.best-games__disclaimer {
	}
	.best-games__games {
		width: 100%;
		gap: 10px;
	}
	.best-games__game {
		width: calc((100% - 10px) / 2);
	}
	.best-games__game.best-games__game--best {
		width: 100%;
	}
	/* MAIN -> GAMES */
	.games__description {
		width: 100%;
		margin-bottom: 16px;
	}
	.games__title {
		font-size: var(--fontSize-24);
	}
	.games__games {
		width: 100%;
	}
	/* MAIN -> FAST-PAYMENTS */
	.fast-payments__title {
		font-size: var(--fontSize-24);
	}
	.fast-payments__payment {
		height: 70px;
	}
	.fast-payments__text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> ABOUT-US */
	.about-us__container {
		flex-direction: column;
		gap: 0px;
	}
	.about-us__title {
		font-size: var(--fontSize-24);
		margin-bottom: 14px;
	}
	.about-us__text {
		font-size: var(--fontSize-14);
		margin-bottom: 14px;
	}
	.about-us__achievement-text {
		font-size: var(--fontSize-14);
	}
	/* MAIN -> OUR-ADVANTAGES */
	.our-advantages__title {
		font-size: var(--fontSize-24);
		margin-bottom: 14px;
	}
	.our-advantages__advantage-title {
		font-size: var(--fontSize-16);
		margin-bottom: 14px;
	}
	.our-advantages__advantage-text {
		font-size: var(--fontSize-14);
	}
	.our-advantages__advantage {
		padding: 12px;
	}
	/* MAIN -> FAQ */
	.faq__question {
		max-height: 56px;
	}
	.faq__question-title {
		font-size: var(--fontSize-16);
	}
	.faq__question-text {
		font-size: var(--fontSize-14);
	}
	/* FOOTER */
}
@media (max-width: 540px) {
	/* REUSED STYLES */
	.stars__star {
		width: 20px;
	}
	.casino-link {
		font-size: var(--fontSize-14);
	}
	/* HEADER */
	.header__container {
		align-items: center;
		gap: 20px;
	}
	.header__special-buttons {
		display: none;
	}
	.header__logo {
		width: 200px;
	}
	/* MAIN */
	/* MAIN -> BEST-GAMES */
	.best-games__game {
		gap: 10px;
		padding: 10px;
	}
	.best-games__game:not(.best-games__game--best) .best-games__game-logo {
		width: 80%;
	}
	.best-games__advantages {
		gap: 10px;
	}
	.best-games__advantage-text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> GAMES */
	.games__games {
		gap: 10px;
	}
	.games__game {
		padding: 10px;
		gap: 10px;
	}
	.games__game-rating-text {
		font-size: var(--fontSize-16);
		font-weight: var(--weight-black);
	}
	.games__game-main-bonus {
		font-size: var(--fontSize-16);
	}
	.games__game-bonus {
		font-size: var(--fontSize-14);
	}
	.games__game-title {
		font-size: var(--fontSize-16);
	}
	.games__game-text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> FAST-PAYMENTS */
	.fast-payments__container {
		gap: 24px;
	}
	.fast-payments__payment {
		height: 50px;
	}
	/* MAIN -> ABOUT-US */
	/* MAIN -> OUR-ADVANTAGES */
	.our-advantages__row:nth-of-type(1) {
		flex-wrap: wrap;
		justify-content: center;
	}
	.our-advantages__row:nth-of-type(1) .our-advantages__advantage {
		width: calc((100% - 10px) / 2);
	}
	.our-advantages__advantage-title {
		font-size: var(--fontSize-14);
		margin-bottom: 12px;
	}
	.our-advantages__advantage-text {
		font-size: var(--fontSize-12);
	}
	/* MAIN -> FAQ */
	.faq__container {
		gap: 10px;
	}
	.faq__title {
		font-size: var(--fontSize-20);
	}
	.faq__questions {
		gap: 10px;
	}
	.faq__question-body {
		padding: 0 10px 0 10px;
	}
	/* FOOTER */
	.footer__company {
		height: 20px;
	}
	.footer__policy-link {
		font-size: var(--fontSize-14);
	}
	.footer__contact {
		font-size: var(--fontSize-14);
	}
	.footer__copyright {
		font-size: var(--fontSize-14);
	}
}
@media (max-width: 420px) {
	/* REUSED STYLES */
	.stars {
		gap: 2px;
	}
	.stars__star {
		width: 18px;
	}
	.casino-link {
		padding: 10px;
	}
	/* HEADER */
	.header__button-text {
		display: none;
	}
	/* MAIN */
	.main {
		padding-top: 80px;
	}
	/* MAIN -> BEST-GAMES */
	.best-games__site-name {
		font-size: var(--fontSize-12);
		margin-bottom: 12px;
	}
	.best-games__title {
		font-size: var(--fontSize-20);
		margin-bottom: 12px;
	}
	.best-games__text {
		font-size: var(--fontSize-12);
	}
	.best-games__disclaimer {
		font-size: var(--fontSize-14);
	}
	.best-games__game:not(.best-games__game--best) .best-games__game-logo {
		width: 100%;
		height: 80px;
	}
	.best-games__advantage:last-of-type {
		display: none;
	}
	.best-games__advantage {
		gap: 5px;
	}
	.best-games__advantage-icon {
		width: 15px;
	}
	.best-games__game:not(.best-games__game--best) .best-games__advantage-text {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		text-wrap: nowrap;
	}
	/* MAIN -> GAMES */
	/* MAIN -> FAST-PAYMENTS */
	/* MAIN -> ABOUT-US */
	/* MAIN -> OUR-ADVANTAGES */
	/* MAIN -> FAQ */
	/* FOOTER */
	.footer__container {
		gap: 15px;
	}
	.footer__companies {
		gap: 10px;
	}
	.footer__company {
		height: 16px;
	}
}
@media (max-width: 370px) {
	.header__logo {
		width: 160px;
	}
}
